.main-wrapper {
  margin: 0 auto;
  padding: 0 16px;
  width: 1200px;
}

.main-wrapper.-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}
