.main-menu {
  align-items: center;
  background-color: #000000;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 75px;
  justify-content: center;

  .logo{
    margin-top: 5px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    height: 100%;
    > a {
      color: #ffffff;
      font-size: 1rem;
      line-height: 75px;
      padding: 0 16px;
      text-decoration: none;
      &:hover {
        background-color: #404040;
        color: #0091d9;
      }
    }
  }
  .contact {
    align-items: center;
    display: flex;
    flex-direction: row;
    > .town {
      padding: 0 16px;
    }
    > .phone {
      > .number {
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 1.3px;
      }
      > .time {
        color: #0091d9;
        font-weight: 500;
        text-align: center;
      }
    }

  }
}